*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}



form{
    width: 400px;
    border: 1px solid #dedede;
    background-color: rgb(146, 161, 228);
    text-align: center;
    margin-left: 600px;
}
form label {
    display: block;
}
form input{
    width: 100%;
    display: block;
}
.container {
    text-align: center;
    
    border: 1px solid;
}
